.column {
    flex: 1 1 30%;
    min-width: 0;
    min-height: 0;
    margin: 2px;

    height: 95%;

    align-self: center;

    display: flex;
    flex-direction: column;
    border-radius: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

.column_dark {
    background: #546E79;
    border: 1px solid #546E79;
}

.column_light {
    background: #BAD9E6;
    border: 1px solid #A6CAD8;
}

.column__header {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex: 0 1 1px;
}

.column__items {
    margin-top: 10px;
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        padding-right:15px;
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }
}

.column_droppable {
    outline:  solid rgb(65, 187, 75) 2px;
}